<!-- code from lab 8 -->
<header>
 <nav class="navbar navbar-expand-sm border-bottom">
   <div class="container">
     <button
       class="navbar-toggler ms-auto"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- TODO: Login -->
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <!-- TODO: Register -->
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <!-- TODO: Logout -->
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            <li class="nav-item">
                <!-- Access Course Search -->
                <a class="nav-link" href="/home">Course Search</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!-- TODO: Account Page -->
                <a class="nav-link disabled" href="/account">My Account</a>
            </li>
        </ul>
     </div>
   </div>
 </nav>
</header>