
<form method="DELETE", action="/deleteReview">
    <input type="hidden" name="review_id" value="{{review_id}}">
    <input type="hidden" name="user_id" value="{{user_id}}">
    <button type="submit" class="btn btn-primary">Delete Review</button>
</form>